---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 14px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 10px; 
  // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 12px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 4px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 0px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";


#search-div {
  margin-top: 50px !important;
}

.search-modal__dialog {
  margin: 60px auto;
  max-width: 860px;
  width: calc(100% - 24px);
}

.search-modal__content {
  border: 1px solid #e5e9f2;
  border-radius: 18px;
  box-shadow: 0 40px 90px -60px rgba(15, 23, 42, 0.55);
  background: $white;
  overflow: hidden;
}

.search-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.75rem 2rem 1.25rem;
  border-bottom: 1px solid #edf2f7;
  background: linear-gradient(135deg, #f8fafc, #ffffff);
}

.search-modal__heading {
  max-width: 540px;
}

.search-modal__eyebrow {
  margin: 0;
  font-size: 0.75rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #94a3b8;
}

.search-modal__title {
  margin: 0.25rem 0 0;
  font-size: 1.45rem;
  font-weight: 600;
  color: #1f2d3d;
}

.search-modal__subtitle {
  margin: 0.4rem 0 0;
  font-size: 0.95rem;
  color: #64748b;
}

.search-modal__close {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  background: #e0e7ff;
  color: #1d4ed8;
  font-size: 1.4rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 1;
  transition: background 0.2s ease, transform 0.2s ease;
}

.search-modal__close:hover {
  background: #c7d2fe;
  transform: translateY(-1px);
}

.search-modal__close:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(29, 78, 216, 0.25);
}

.search-modal__body {
  background: $white;
  padding: 1.5rem 2rem 2rem;
  max-height: 70vh;
  overflow-y: auto;
}

.search-modal__body #tipue_search_content {
  max-width: none;
  padding-top: 0;
  margin: 0;
}

.search-modal__body #tipue_search_results_count {
  margin: 0 0 0.75rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  color: #94a3b8;
  font-weight: 600;
}

.search-modal__body #tipue_search_warning {
  margin: 0.75rem 0;
  padding: 0.85rem 1rem;
  border-radius: 10px;
  background: #fff7ed;
  border-left: 3px solid #fb923c;
  color: #9a3412;
}

.search-modal__body .tipue_search_content_title {
  margin-top: 1.35rem;
  color: #1f2d3d;
  font-size: 1.1rem;
  font-weight: 600;
}

.search-modal__body .tipue_search_content_title a {
  color: inherit;
  border-bottom: 1px solid transparent;
  transition: color 0.2s ease, border-color 0.2s ease;
}

.search-modal__body .tipue_search_content_title a:hover {
  color: #2563eb;
  border-color: rgba(37, 99, 235, 0.35);
}

.search-modal__body .tipue_search_content_url {
  margin-top: 0.2rem;
  font-size: 0.85rem;
  color: #64748b;
}

.search-modal__body .tipue_search_content_url a {
  color: #2563eb;
  font-weight: 500;
  word-break: break-word;
}

.search-modal__body .tipue_search_content_text {
  margin-top: 0.35rem;
  color: #475569;
}

.search-modal__body #tipue_search_foot {
  margin: 2rem 0 0.5rem;
}

.search-modal__body #tipue_search_foot_boxes li a,
.search-modal__body #tipue_search_foot_boxes li.current {
  border-radius: 999px;
  border: 1px solid #e2e8f0;
  background: #f8fafc;
  color: #0f172a;
  font-weight: 500;
}

.search-modal__body #tipue_search_foot_boxes li a:hover {
  background: #e0e7ff;
  border-color: #c7d2fe;
}

.search-modal__body .tipue_search_related_title {
  color: #1f2d3d;
}

.search-modal__body .tipue_search_related_text a {
  color: #2563eb;
}

.search-modal__body .tipue_search_spinner > div {
  background-color: #cbd5f5;
}

@include mobile {
  .search-modal__dialog {
    margin: 30px auto;
  }

  .search-modal__header {
    flex-direction: column;
  }

  .search-modal__close {
    margin-top: 1rem;
  }

  .search-modal__body {
    padding: 1.25rem 1.25rem 1.5rem;
  }
}

div.gist-meta {
  display: none;
}

div.gist-file {
  margin-bottom: 0px !important;
}
